h1 {
    color: blue;
}

.my-header {
    color: red;
}

.img-wrapper {
    padding-top: 10px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}